body{
    background: url(4.jpg) no-repeat;
}

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

nav{
    font-family: "Georgia";
    background: #1E90FF;
    height: 80px;
}

.change-pass-form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
}

.change-pass-form .p1{
    font-size: 20px;
    margin: 10px 0;
    color: white;
}

.change-pass-form input{
    font-size: 15px;
    padding: 10px 10px;
    border-radius: 15px;
    outline: none;
}

input:hover{
     border: 1px solid #fff;
	background: #1E90FF;
    color: black;
    transition: 0.5s;
}

button{
    border: 2px solid #FFFF;
	background: white;
	padding: 5px 5px;
	font-size: 17px;
	font-family: "Georgia", "Comic Sans", cursive;
	margin: 5px;
	cursor: pointer;
    transition: 0.8s;
    width: 95px;
    height: 35px;
	position: hidden;
    color: #1E90FF;
    border-radius: 15px;
}

button:hover{
    border: 1px solid #fff;
	background: #1E90FF;
	color: #fff;
}