body{
    background: url(4.jpg) no-repeat;
}

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

nav{
    font-family: "Georgia";
    background: #1E90FF;
    height: 80px;
}

.form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    width: 350px;
    border: 1px;
}

.form p{
    font-size: 17px;
    margin: 5px 0;
    color: white;
}

.form input{
    font-size: 12px;
    padding: 10px 10px;
    border-radius: 15px;
    outline: none;
}

input:hover{
     border: 1px solid #fff;
	background: #1E90FF;
    color: black;
    transition: 0.5s;
}

button{
    border: 2px solid #FFFF;
	background: white;
	padding: 1px 1px;
	font-size: 15px;
	font-family: "Georgia", "Comic Sans", cursive;
    margin: 2px;
	cursor: pointer;
    transition: 0.8s;
	position: hidden;
    color: #1E90FF;
    font-weight: bold;
}

button:hover{
    border: 2px solid #FFFF;
	background: #1E90FF;
	color: #fff;
}

h3{
	font-size: 21px;
    margin: 5px 0;
    opacity: 0.5;
    color: white;
}

select {
    appearance: none;
    border: none;
    padding: 0 1em 0 0;
    margin: 2px;
    width: 50%;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    line-height: inherit;
    outline: none;
    background-color: #B0B0B0;
    font-family: "Rockwell", "Comic Sans", cursive;
    height: 25px;
  }

select::-ms-expand {
	display: none;
}

p{
    font-weight: bold;
}

#save{
	width: 105px;
    height: 35px;	
}

#removeMedication{
	color: red;
	width: 180px;
    height: 55px;
    
}

#removeMedication:hover{
    border: 2px solid #FFFF;
	background: red;
	color: white;
}

#back{
    border: 2px solid #FFFF;
	background: white;
	padding: 1px 1px;
	font-size: 20px;
	font-family: "Georgia", "Comic Sans", cursive;
    margin: 5px;
    color: #1E90FF;
    font-weight: bold;
}