body{
    background: url(1.jpg) no-repeat;
    margin: 0;
    padding: 0;
    owerflow-y: auto;
}

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

nav{
    font-family: "Georgia";
    background: #1E90FF;
    height: 80px;
}

nav ul{
    float: right;
    margin-right: 20px;
}

.navBar ul lI{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

.navBarLinks{
    border: 2px solid #FFFF;
	background: white;
	padding: 5px 5px;
	font-size: 17px;
	font-family: "Georgia", "Comic Sans", cursive;
	margin: 7px;
	cursor: pointer;
	transition: 0.8s;
	position: hidden;
    color: #1E90FF;
    border-radius: 15px;
}

.navBarLinks:hover{
    border: 1px solid #fff;
	background: #1E90FF;
	color: #fff;
}

.sideBar{
	width: 4rem;
	height: 500vh;
	position: fixed;
	background-color: #1E90FF;
	transition: width 100ms ease;
	text-align: center;
	border: 1px solid #FFFF;
	border-color: white;
}

.sideBar-nav{
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.nav-item{
	width: 100%;
	line-height: 42px;
}

.nav-item:last-child{
   	bottom:0;
	margin-top: auto;
}

#allMeds, #allPharmacies, #reservedMeds,
#acquireMed, #examination, #counseling,
#counselingHistory, #examinationHistory,
#activeExaminations, #activeCounselings,
#penalties, #myPharmacies, #complaint{
	display: none;
}

.nav-link {
	align-items: center;
	height: 1rem;
	color: white;
	text-decoration: none;
}


