body{
    background: url(4.jpg) no-repeat;
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
  display: none;
}

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

nav{
    font-family: "Georgia";
    background: #1E90FF;
    height: 80px;
}

.mainDiv{
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
}

table{
    overflow: auto;
    display: block;
    border-collapse: collapse;
    width: 800px;
    height: 210px;
}

table::-webkit-scrollbar {
    display: none;
}

tr{
    transition:  all .2s ease-in;
}

td, tr{
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

tbody{
    background-color: #fff;
}

#header{
    position: sticky;
    top: 0;
    background-color: #1E90FF;
    color: #fff;
}

@media only screen and (max-width: 768px){
    table {
        width: 90%;
    }
}

#searchParagraph{
	font-size: 20px;
	font-family: FreeMono, monospace;
	color: white;
}

#search{
	position: relative;
	font-size: 20px;
	font-family: FreeMono, monospace;
	color: black;
}

button{
    border: 2px solid #FFFF;
	background: white;
	padding: 1px 1px;
	font-size: 15px;
	font-family: "Georgia", "Comic Sans", cursive;
    margin: 5px;
    width: 125px;
    height: 25px;
	cursor: pointer;
    transition: 0.8s;
	position: hidden;
    color: #1E90FF;
    font-weight: bold;
}

button:hover{
    border: 2px solid #FFFF;
	background: #1E90FF;
	color: #fff;
}

h3{
	font-size: 30px;
    margin: 5px 0;
    opacity: 0.8;
    color: white;
}

p{
	font-family: "Rockwell", "Comic Sans", cursive;
    font-weight: bold;
    color: white;
    width: 400px;
}

#from, #to{
    width: 80px;
    height: 20px;
}

.data{
    font-size: 12px;
    padding: 10px 10px;
    outline: none;
}

select{
 	appearance: none;
    border: none;
    padding: 0 1em 0 0;
    margin: 2px;
    width: 20%;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    line-height: inherit;
    outline: none;
    background-color:  white;
    font-family: "Rockwell", "Comic Sans", cursive;
    height: 25px;
}

#workingHours{
	text-align: left;
}