body{
    background: url(4.jpg) no-repeat;
    margin: 0;
    padding: 0;
}

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

nav{
    font-family: "Georgia";
    background: #1E90FF;
    height: 80px;
}

.mainDiv{
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
}

#table{
    overflow: auto;
    display: block;
    border-collapse: collapse;
    width: 800px;
    height: 480px;
}

table::-webkit-scrollbar {
    display: none;
}

#table tr{
    transition:  all .2s ease-in;
    height: 50px;
}

#table td{
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    height: 50px;
}

#table tr {
	padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    height: 50px;
    cursor: pointer;
}

tbody{
    background-color: #fff;
}

#header{
    position: sticky;
    top: 0;
    background-color: #1E90FF;
    color: #fff;
}

@media only screen and (max-width: 768px){
    table {
        width: 90%;
    }
}

button{
    border: 2px solid #FFFF;
	background: #00FF00;
	padding: 1px 1px;
	font-size: 15px;
	font-family: "Georgia", "Comic Sans", cursive;
    margin: 2px;
    width: 125px;
	cursor: pointer;
    transition: 0.8s;
	position: hidden;
    color: #1E90FF;
    font-weight: bold;
    border-radius: 50px;
}

button:hover{
    border: 2px solid #FFFF;
	background: #1E90FF;
	color: #00FF00;
}
