body{
    background: url(4.jpg) no-repeat;
    margin: 0;
    padding: 0;
}

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.navBar{
    font-family: "Georgia";
    background: #1E90FF;
    height: 80px;
}

.form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    width: 550px;
}

button{
    border: 2px solid #FFFF;
	background: white;
	padding: 1px 1px;
	font-size: 15px;
	font-family: "Georgia", "Comic Sans", cursive;
    margin: 7px;
    width: 235px;
	cursor: pointer;
    transition: 0.8s;
	position: hidden;
    color: #1E90FF;
    border-radius: 7px;
    height: 50px;
    font-weight: bold;
}

button:hover{
    border: 1px solid #fff;
	background: #1E90FF;
	color: #fff;
}

p{
    font-size: 20px;
    margin: 5px 0;
    color: white;
    padding: 10px;
    font-weight: bold;
    display: inline
}

.pharmacyInfo{
	display:inline-block;
    -webkit-transform: scale(1,1.5);
}

.sideBar{
	width: 4rem;
	height: 500vh;
	position: fixed;
	background-color: #1E90FF;
	transition: width 100ms ease;
	text-align: center;
	border: 1px solid #FFFF;
	border-color: white;
	align-items: center;
}

.sideBar-nav{
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.nav-item{
	width: 100%;
	line-height: 42px;
	text-align: left;
}

.nav-item:last-child{
   	bottom:0;
	margin-top: auto;
}

.nav-link{
	display: none;
}

.nav-link {
	align-items: center;
	height: 1rem;
	color: white;
	text-decoration: none;
	font-weight: bold;
}

.lines{
	display: none;
}

hr
{
    background-color: #eee;
    border: 0 none;
    color: #eee;
    height: 1px;
}